<h1>Tu id de compra es: {{ticket._id.$oid}} </h1>
<h2>El codigo de compra es: {{ticket._code}}</h2>
<p>Te va a llegar la factura a tu mail: {{ticket.purchaser}}</p>
<p>y el total de tu compra es de: ${{ticket.amount}} </p>